<!DOCTYPE html>
<html>
<head>
  <title>Q-UP</title>
  <style type="text/css">
    .card-deck{
      margin-left: 40px;
      margin-right: 40px; 
    }
  </style>
</head>
<body>
  <main class="grid">
    <div class="card-deck">

      
      <div class="container" style="width: 415px;">
        <article class="card-body">
          <br>
      <h3 class="card-title text-center mb-4 mt-1" style="color: gray">Sign-In</h3>

      <hr>
      <form action="/process_login" method="post" name="Login_Form" class="form-signin">
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="email" class="form-control" placeholder="Email" type="text" required="">
      </div> <!-- input-group.// -->

      </div> <!-- form-group// -->
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
          <input class="form-control" placeholder="Password" type="password" name="password" required="">
      </div> <!-- input-group.// -->
      </div> <!-- form-group// -->
      <hr>
      <div class="form-group">
      <button name="Submit" value="Login" type="Submit" class="btn btn-primary btn-block"> Login  </button>
      </div> <!-- form-group// -->
      <p class="text-center" style="color: black"> Don't have an account? <a href="/sign_up" style="color: blue;">Create account</a> </p>
      </form>
    </article>
      </div>
    </div>
  </main>
<body>
</html>