<!-- <form action="register" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
	<input type="submit" value="Register">
</form> -->


<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
</style>
<body>

	<main class="grid">
    <div class="card-deck">

      
      <div class="container" style="width: 415px;">
        <article class="card-body">
          <br>
      <h3 class="card-title text-center mb-4 mt-1" style="color: gray">Create Account</h3>

      <hr>
      <form action="/process_login" method="post" name="Login_Form" class="form-signin">
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="email" class="form-control" placeholder="Email" type="text" required="">
      </div> <!-- input-group.// -->

      </div> <!-- form-group// -->
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
          <input class="form-control" placeholder="Password" type="password" name="password" required="">
      </div> <!-- input-group.// -->
      </div> <!-- form-group// -->
      <div class="form-group input-group">
	    	<div class="input-group-prepend">
			    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div>
	        	<input class="form-control" placeholder="Repeat password" type="password">
      </div> 
      <hr>
      <div class="form-group">
      <button name="Submit" value="Login" type="Submit" class="btn btn-primary btn-block"> Create Account   </button>
      </div> <!-- form-group// -->
      <p class="text-center" style="color: black"> Have an account?<a href="/login" style="color: blue;"> Log In</a> </p>
      </form>
    </article>
      </div>
    </div>
  </main>


</body>
</html>