
.card_delB {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: white;
}
.date_delB {
  font-weight: 400;
  color: #a3a4a6;
}
