<<<<<<< HEAD
=======
<!-- //This is the view that shows a form for the owener to add a new barber. -->
<div align = "center">
>>>>>>> a3fbe292b6fc48afbb0ead1bac5783fcedb28d0e
  		<div class="card">
    		<div class="card-body">
     			<form action="/admin/new" method="POST">
    			<br><br>
				<div>
					<h4><i><strong>ADD</strong> a barber</i></h4>
				</div>
				<br><br><label>Full Name:</label>
				<div>
					<input type="text" name="name">
				</div>
				<br><br><br>
				<input type="submit" class = "btn btn-dark" value="Submit">
				<br>
					</form>
    		</div>
<<<<<<< HEAD
		</div>
=======
		</div>`	
</div>
	
>>>>>>> a3fbe292b6fc48afbb0ead1bac5783fcedb28d0e
