<!DOCTYPE html>
<html>
<head>
	<title>Make an Appointment</title>
	<style type="text/css">
    .card-deck{
      margin-left: 40px;
      margin-right: 40px; 
    }
  </style>
</head>
<body>
	<main class="grid">
    <div class="card-deck">

      <div class="container">
        <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Queue-Up Barber Shops</h4>
      <hr>
      <br>
      <p class="text-success text-center">Find the shop you would like to make an appointment at.</p>
      <br>
      <hr>
      <br>
	     <form action="/appointments/dayChoice" method="GET">
			<div align="center">
				<i class="fas fa-store-alt"></i>
				<select name="type" required>
					<option value="" disabled selected>Barber Shop</option>
					<option value="one">Olympus Barber Shop</option>
					<option value="two">Barber Shop Number 2</option>
					<option value="three">Barber Shop Number 3</option>
				</select>
			</div>
			<br><br>
			<div align="center">
				<input type="submit" name="Submit" value="Next">
			</div>
		</form>
    </article>
      </div>
  </div>
  </main>
</body>
</html>