<!DOCTYPE html>
<html>
<head>
	<title>Time Choice</title>
<style type="text/css">
    .card-deck{
      margin-left: 40px;
      margin-right: 40px; 
    }
  </style>
</head>
<body>
	<main class="grid">
    <div class="card-deck">

      <div class="card" style="border: none;">
        <div class="card-body">
          <p align="center" style="font-size:250px;color:black;">Q</p>
        </div>
      </div>

      <div class="card bg-light text-dark">
        <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Appointment Times</h4>
      <hr>
      <br>
      <p class="text-success text-center">Choose the time you want to schedule your appointment.</p>
      <br>
      <hr>
      <br>
	     <form action="/appointments/haircut" method="GET">
			<div align="center">
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">10 a.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group" >
            <button type="button" class="btn btn-secondary">11 a.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group" >
            <button type="button" class="btn btn-secondary">12 a.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group" >
            <button type="button" class="btn btn-secondary">1 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group" >
            <button type="button" class="btn btn-secondary">2 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group" >
            <button type="button" class="btn btn-secondary">3 p.m.</button>
          </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">4 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">5 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">6 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">7 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">8 p.m.</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">9 p.m.</button>
          </div>
        </div>
      </div>
			<br><br>
			<div align="center">
				<input type="submit" name="Submit" value="Next">
			</div>
		</form>
    </article>
      </div>
  </div>
  </main>
</body>
</html>