<!DOCTYPE html>
<html>
<head>
	<title>Barber Shop Search</title>
</head>
<body>
  <center>
    <h1>Barber Shop Search</h1>
  </center>
  <div class="container">
    <hr>
    <p class="text-success text-center">Find the shop you would like to make an appointment at.</p>
    <hr>
    <br>
    <form action="/appointments/stylistChoice/<%= @appointment %>" method="POST">
      <div align="center">
        <i class="fas fa-store-alt"></i>
        <select name="barberShop" required>
          <option value="" disabled selected>Barber Shop</option>
          <option value="Olympus Barber Shop">Olympus Barber Shop</option>
          <option value="NY Style Barber Shop">NY Style Barber Shop</option>
          <option value="Papi Chulos Barber Shop">Papi Chulos Barber Shop</option>
        </select>
      </div>
      <br>
      <div style="overflow:auto;" align="center">
        <button type="Submit" class="btn btn-dark">Next</button>
      </div>
    </form>
  </div>
</body>
</html>