<!DOCTYPE html>
<style type="text/css">
#left {
  position: fixed;
  bottom: -4px;
  left: 10px;
}
#right {
  position: fixed;
  bottom: -4px;
  right: 10px;
}
</style>
<html>
<meta http-equiv="refresh" content="15">
<body>
	<div class="card-deck">
		<% @barbers.each do |b| %>
		<% customers = b.wait_list %>
			<div class="card" style="width: 18rem;">				
				<% if customers[0] == nil %>
					<div class="card-body">
						<h5 class="card-title"><%= b.name %></h5>
						<p class="card-text"><ul class="list-group list-group-flush"></ul></p>
					</div>
				<% else %>
					<div class="card-body">
						<h5 class="card-title"><%= b.name %></h5>
						<p class="card-text">
							<ol class="list-group list-group-flush">
							  	<% customers.each do |c| %><li class="list-group-item"><%= c.name %></li><% end %>
							</ol>
						</p>
					</div>
				<% end %>
			</div>
	 	<% end %>
 	</div>
</body>
</html>