<!DOCTYPE html>
<html>
<meta http-equiv="Refresh" content="4;/kiosk" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
 {
  box-sizing: border-box;
}

body {
  background-color: white; /*can change this too lol*/
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  margin-top: 0px;
}

h1 {
  text-align: center;  
}

</style>
<body>

<form id="regForm" action="/kiosk">
  <h3>Thanks for Queuing-up, please wait for your turn. Your total will be $<%= @cus.price %></h3>
</form>
</body>
</html>