<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheet/nav.css">
  <style type="text/css">
  </style>
</head>
  <nav style = " right: 0;" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin">
  Queue-up
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/admin"> Home </a>
      <a class="nav-item nav-link active" href="/admin/addbarber"> Add</a>
      <a class="nav-item nav-link active" href="/admin/deletebarber">Delete</a>
      <a class="nav-item nav-link active" href="/admin/updateprice"> Services</a>
      <a class="nav-item nav-link active" href="/viewA"> Queue</a>
    </div>
  </div>
      

        <div class="btn-group dropleft">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            More
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/kiosk">Kiosk</a>
            <a class="dropdown-item" href="/viewC">Customer View</a>
            <a class="dropdown-item-text" href="#">Contact Us</a>
            
          </div>
        </div>
          

</nav>
</html>
