<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Q-UP</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Menu</p>
        <li>
            <a href="/admin/homeDashboard">Home</a>
        </li>
        <li>
            <a href="/admin/addbarber">Add Barber</a>
        </li>
        <li>
            <a href="/admin/deletebarber">Delete Barber</a>
        </li>
        <li>
            <a href="/admin/calendar">Calendar</a>
        </li>
        <li>
            <a href="/admin/datatable">DataTable</a>
        </li>
        <li>
            <a href="/admin/updateprice">Service Price</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="/login" class="download">Sign Out</a>
        </li>
    </ul>
</nav>