<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/stylesheet/signinsout.css">
</head>
<style type="text/css">
	.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  margin-bottom: 5%;
  }
.grid > article {
  border: 1px solid #ccc;
/*  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);*/
}
.grid > article img {
  max-width: 100%;
}
</style>
<body>
	<div  class="container" style="width: 1020px;">
	<h4 style = "color: gray"> Sign-Out
	<ol class="breadcrumb float-right" style="background-color: white">
		<li class="breadcrumb-item"><a href="/admin"><i class="fa fa-home" style="color: gray"></i></a></li>
		<li class="breadcrumb-item active"><a href="/admin" style="color: gray">Sign-Out</a></li>
	</ol>
	<div class = "date_dashboard"><font color = "#a3a4a6"><small><span id="datetime"></span></small></font></div>
	</h4>
	<br>

		<div class="alert alert-warning" role="alert">
	  <h4 style="color: #A17917">See you later!</h4>
	  <p style="color: #A17917">You are about to sign out of work, please make sure that you select your correct name.</p>
	  <hr>
	  <p class="mb-0" style="color: #A17917">Está a punto de cerrar la sesión de trabajo, asegúrese de seleccionar su nombre correcto.</p>
	</div>

	<div align="center">
		<div class="card card-outline-center" style="margin-bottom: 5%;">
			<div class="card-header"> <h3 align="center" style="color: gray"><%= current_user.email %></h3></div>
			<form>
					<main class="grid" style="padding: 20px;">
						<% @barbers.each do |b| %>
						<div class="card card-outline " style="padding: 20px;">
							<a href="/sign_out/<%= b.id %>">
								<div class="card-content card-content-padding" style="color: gray;">
									<%= b.name %>
								  </div>
								</a>
						  
						</div>
						<% end %>
					</main>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
<script>
	var dt = new Date();
	document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</html>
