<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>


</head>
<body>

	<form action="/addBarbershop" method="POST">

	  <input name="name" class="form-control" placeholder="Barbershop name" type="text">
	  <input name="address" class="form-control" placeholder="address" type="text">
	  <input name="zip" class="form-control" placeholder="zipcode" type="text">
	  <input name="start" class="form-control" placeholder="opening time" type="text">
	  <input name="end1" class="form-control" placeholder="closing time" type="text">
	   <input name="phone" class="form-control" placeholder="phone" type="text">

	   <button type="submit" class="btn btn-primary btn-block"> submit  </button>


	</form>

</body>
</html>